
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:bisque;
    text-align: center;
    padding: 30px;
}

h1{
    font-weight: bold;
    margin-bottom: 50px;
}


.search-container{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 10px;
    margin-bottom: 30px;
    width: 60%;
}

.search-container > input{
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 5px;
    background-color: bisque;
    width: 70%;
}

.search-container > input::placeholder{
    font-size: 1rem;
}

.search_icon{
    color: #000;
    font-size: 1rem;
}

.btn{
    margin-right: 10px;
}

.container-button{
    margin-bottom: 30px;
}